@media (max-width: 767.98px) {
  .slide_container {
    width: calc(200px * 10);
    animation: scroll 15s linear infinite;
  }
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-200px * 5));
    }
  }
}
